{
  "presets": [
    ["@babel/preset-env",{
      "loose": true,
      "modules": "cjs"
    }],
    "@babel/preset-react"],
  "plugins": [
    ["import", {
      "libraryName": "iGoM-ui",
      "libraryDirectory": "lib"
    }],
    [
      "@babel/plugin-transform-runtime", {
        "useESModules": false
      }
    ]
  ]
}